* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #19C3FB;
}

.container {
  display: flex;
  flex-direction: column;
}

.country-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

button {
  cursor: pointer;
  border: none;
  background: #19C3FB;
}

.fa-search {
  border: none;
  font-size: 14px;
  color: #E3F4FE;
}

input {
  border: none;
  border-bottom: 2px solid #E3F4FE;;
  background: #19C3FB;
}

/* show current weather section */

.cur-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  font-size: 22px;
  margin-bottom: 5px;
  color: #E3F4FE;
}

.weather-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-temp {
  font-size: 60px;
  margin-bottom: 5px;
  color: #E3F4FE;
}

.font-color {
  color: #E3F4FE;
}

/* forecast section */

.forecast-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h3 {
  color: #E3F4FE;
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.day {
  font-size: 20px;
  margin-bottom: 5px;
  color: #E3F4FE;
}

.day-temp {
  font-size: 30px;
  color: #E3F4FE;
}

.night-temp {
  font-size: 20px;
  color: #E3F4FE;
}

.daily-forecast > img {
  width: 40px;
  height: 40px;
}

@media (max-width: 550px) {
  .forecast {
    flex-direction: column;
    align-items: center;
  }

  .country-section {
    display: flex;
    flex-direction: column;
  }
}